@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

html {
  scroll-behavior: smooth;
}
   
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.emptylayout{
  width: 100%;
  height: 100vh;
  background-color:	#696969;
}

.formbox {
  width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solod grey;
  border-radius: 5px;
  padding: 10px;
  transform: translateY(-500px);
  transition: transform 0.3s ease-out;
}


.formbox.showed {
  transform: translateY(50%);
}

.aim {
  font-size: 40px;
}

.card-container .filter-panel .continent-filter,
.card-container .filter-panel .price-filter {
  width: 30%;
}

.card-container .filter-panel .search-product{
  width: 30%;
}



@media (max-width: 768px){
  .container{
    padding-left: 5px;
    padding-right: 5px;
  }
  .divider{
    display: none;
  }
  .card-container .filter-panel {
    flex-wrap: wrap;
  }

.card-container .filter-panel .search-product,

.card-container .filter-panel .btn-group {
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }

}