
.image-gallery-slides {
    width: 100%;
    height: 400px;
}

.image-gallery-slide .image-gallery-image {
    object-fit: cover;
}

img.image-gallery-image{
    width: 100%;
    height: 400px;
}

@media (max-width:475px){
    .image-gallery-slides {
        height: 200px;
    } 
}