.picture-container {
    display: flex;
    padding: 0 2px;
    z-index: -1;
    transform: translateX(-283px);
  }
  
  .moving {
    transform: translateX(-566px);
    transition: transform 1.5s ease-in;
  }